#parallaxintro .view {
    min-height: 100vh !important;
    height: unset !important;
  }

@media (min-width: 0px) and (max-width:414px) {
.menu{
  width: 100% !important;
  margin-top: 65%;
}
.colortextmedia{
  color: #4051B5 !important;
  font-weight: bold;
  font-stretch: wider;
  font-size: x-large;
  background-color: rgba(211,211,211, 0.3);
  
}}
.colortextmedia:hover{

  border: 1px solid #4051B5
  }

    /* this is for the .menu for diffent screen sizes */

    